<div class="panel panel-default">

    {{bootstrap/panel-heading primary="Org Api Versions"}}

    <div class="panel-body">

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-warning text-center center-block" style="width: 200px;">
                    <div class="panel-heading" style="text-shadow: 1px 1px 2px #2e3338;">
                        <strong>Current</strong>
                    </div>
                    <div class="panel-body">
                        <div style="font-size:4em;">{{currentMaxOrgVersion}}</div>
                        <small>{{classesAtMaxApiVersion.length}} classes at this version</small>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="panel panel-info text-center center-block" style="width: 200px;">
                    <div class="panel-heading" style="text-shadow: 1px 1px 2px #2e3338;">
                        <strong>Lowest Supported</strong>
                    </div>
                    <div class="panel-body">
                        <div style="font-size:4em;">{{currentMinOrgVersion}}</div>
                        <small>{{classesBelowMinApiVersion.length}} classes at or below</small>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
