<div>

    {{class-stats classes=model.classes}}

    <div>Number of test classes containing Analytics.cls declarations (best guess): {{testClasses.length}}</div>

</div>
<br />
<div class="panel panel-default">
    <!-- <div class="panel-heading">
        Test Classes Containing Apex Analytics
        <button class="btn btn-success" {{action "startTestRun"}}>Run</button>
        {{if loadingTestRun " loading..."}}
    </div> -->
    {{#bootstrap/panel-heading primary="Test Classes" secondary="containing apex analytics declarations"}}
        {{#if isRunning}}
            <div class="pull-right">
                <span class="glyphicon glyphicon-refresh glyphicon-animate-spin text-success"></span>
            </div>
        {{/if}}
    {{/bootstrap/panel-heading}}

    <ul class="list-group">
    {{#each testClasses as |class|}}
        <li class="list-group-item">
            <span class="badge">v{{class.apiVersion}}</span>
            {{input type="checkbox" checked=class.selected}} {{class.name}}

            {{#if class.currentQueueItem.status}}
                &nbsp;({{class.currentQueueItem.status}})
            {{/if}}

            <ul>
                {{#each class.apexTestResults as |testResult|}}
                <li>
                    {{testResult.methodName}} - <strong>{{testResult.outcome}}</strong>

                    {{#if testResult.currentAnalytic}}
                        <ul>
                            <li>Execution Time: <strong>{{testResult.currentAnalytic.executionTime}} ms</strong></li>
                            <li>DML Statements: <strong>{{testResult.currentAnalytic.limits.dMLStatements}} ({{testResult.currentAnalytic.limits.dmlRows}} rows)</strong></li>
                            <li>SOQL Queries: <strong>{{testResult.currentAnalytic.limits.queries}} ({{testResult.currentAnalytic.limits.queryRows}} rows)</strong></li>
                            <li>SOSL Queries: <strong>{{testResult.currentAnalytic.limits.soslQueries}}</strong></li>
                            <li>Memory Used: <strong>{{testResult.currentAnalytic.limits.heapSize}} bytes</strong></li>
                        </ul>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
    </ul>

    <div class="panel-footer">
        <div class="text-right">
            <button class="btn btn-success" {{action "startTestRun"}}>Execute</button>
        </div>
    </div>

</div>

{{outlet}}
