<div>

    {{class-stats classes=model.classes}}

    <div>Number of test classes (best guess): {{testClasses.length}}</div>

    <div>
        <!--Direct access of a controller proeprty-->
        Current Api Version: {{currentOrgVersion}}
    </div>
</div>
<br />
<div class="panel panel-default">
    <div class="panel-heading">
        Test Classes Containing Apex Analytics
        <button class="btn btn-success" {{action "startTestRun"}}>Run</button>
        {{if loadingTestRun " loading..."}}
    </div>
    <ul class="list-group">
    {{#each testClasses as |class|}}
        <li class="list-group-item">
            <span class="badge">v{{class.apiVersion}}</span>
            {{input type="checkbox" checked=class.selected}} {{class.name}}

            {{#if class.currentQueueItem.status}}
                &nbsp;({{class.currentQueueItem.status}})
            {{/if}}

            <ul>
                {{#each class.apexTestResults as |testResult|}}
                <li>
                    {{testResult.methodName}} - {{testResult.outcome}}

                    {{#if testResult.currentAnalytic}}
                        <ul>
                            <li>Execution Time: {{testResult.currentAnalytic.executionTime}}</li>
                        </ul>
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
    </ul>
</div>

{{outlet}}
